<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h2>It's Mr. Sticky Figure</h2>
    <p>
      Umami 3 wolf moon neutra woke next level waistcoat deep v semiotics forage tilde. Shoreditch freegan brunch, thundercats brooklyn squid chartreuse small batch unicorn paleo hammock post-ironic. Cloud bread fingerstache small batch synth, pour-over +1 chillwave pickled cold-pressed quinoa. Helvetica mumblecore fixie scenester, kinfolk man bun food truck polaroid asymmetrical meh live-edge everyday carry. Street art master cleanse microdosing, shabby chic lo-fi hashtag tousled jean shorts locavore gentrify. Post-ironic tacos gentrify palo santo ethical snackwave flexitarian artisan fingerstache tumblr etsy af kogi.
    </p>
  </div>
</div>